* { 
    padding: 0; 
    margin: 0; 
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

h1 {
    margin: 20px
}

canvas { 
    background: lightcoral; 
    display: block; 
    margin: 0 auto; 
    border: 2px solid black
}